// colors

$color1: #04080f;
$color2: #507dbc;
$color3: #a1c6ea;
$color4: #bbd1ea;
$color5: #dae3e5;
$color6: #f9b939;
$color7: #1B130E;

//blendmode
//$lighten-base: luminosity;

//text
$fontfamily-text: 'Alegreya Sans SC', sans-serif;
// $fontsize-text: 3vw;
// $mixblend-text: color-dodge;
// $padding-text: 0;
// $margin-text: 0;

//navigation
$font-nav: Georgia, "Trebuchet MS", Arial, sans-serif;
$list-style: none;
// $padding-ul: 5px;
// $marginleft-ul: 35px;

