body {
    padding: 6rem;
    background-color: hsl(220 20% 95%);
    display: grid;
    place-items: center;
}

img {
    max-width: 100%;
}

#shop {
    margin-top: 5px;
    --img-size: calc(100px - .25rem / 2);
    --transition-duration: 500ms;
    display: grid;
    gap: .30rem;
    grid-template-columns: repeat(6, var(--img-size));
    grid-template-rows: repeat(3, var(--img-size));
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    img {
        aspect-ratio: 1;
        object-fit: cover;
        box-shadow: 0.25rem 0.25rem 0.5rem hsl(0 0% 0% / 0.2);
        grid-column: span 2;
        filter: brightness(.8) saturate(.8);
        clip-path: path('M 80 20 C 100 0 100 0 120 20 C 140 40 160 60 180 80 C 200 100 200 100 180 120 C 160 140 140 160 120 180 C 100 200 100 200 80 180 C 60 160 40 140 20 120 C 0 100 0 100 20 80 Z');
        transition: 
            filter 500ms,
            clip-path 500ms,
            scale var(--transition-duration);

        &:nth-of-type(4) {
            grid-column: 2 / span 2;
        }

        &:hover {
            z-index: 100;
            clip-path: path('M 0 0 C 100 0 100 0 200 0 C 200 50 200 50 200 80 C 200 100 200 100 200 120 C 200 150 200 150 200 200 C 100 200 100 200 0 200 C 0 150 0 150 0 120 C 0 100 0 100 0 80 Z');
        }

        &:not(:hover) {
            animation: zIndexHack 500ms;
        }
    }
}

#shop:hover > img {
    filter: brightness(.5) saturate(.5);
}

#shop > img:hover {
    filter: brightness(1) saturate(1);
    scale: 2;
}

#shop > img:focus {
    filter: brightness(1) saturate(1);
    scale: 2;
}

.item {
    // padding-bottom: 100px;
    background-color: bisque;
    border: 5px solid white;
}

@supports selector(:has( + *)) {
    .item:hover + .item,
    .item:has( + .item:hover) {
        filter: brightness(.9) saturate(.9);
    }
}

#shopCount {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    pointer-events: none;
    
    position: relative;
    margin-top: -275px;
    margin-left: 150px;
    display: grid;
    gap: .30rem;

    grid-template-columns: repeat(3, 190px);
    grid-template-rows: repeat(3, 100px);

    .count {
        color: white;
        font-size: 18px;
        font-weight: 800;
        text-shadow: 0 0 2px black;

        &:nth-of-type(4) {
            grid-column: 1 / span 2;
        }

        &:nth-child(4) {
            padding-left: 100px;
        }

        &:nth-child(5) {
            margin-left: -90px;
        }
    }
}

.info {
    position: relative;
    border: 5px solid cadetblue;
    box-shadow: 0.25rem 0.25rem 0.5rem hsl(0 0% 0% / 0.2);
    width: 130px;
    padding: 3px;
    margin: -200px 0px 100px 110%;
}

#junk {
    margin-top: 60px;
}

#junkSample {
    --hand-size: 0;
    --width: 200px;
    --transition-duration: 500ms;

    display: none;
    gap: .25rem;
    grid-template-columns: repeat(var(--hand-size), var(--width));

    transition: grid-template-columns var(--transition-duration);
    transition-delay: var(--transition-duration);
    overflow-x: auto;
    height: 400px;
    padding: 50px 100px 0;
    // margin-left: -100px;
    margin-right: -100px;
}

#fightSave {
    display: none;
}

#hand {
    --hand-size: 5;
    --width: 200px;
    --transition-duration: 500ms;

    display: grid;
    gap: .25rem;
    grid-template-columns: repeat(var(--hand-size), var(--width));
    // padding-block: 3rem;

    transition: grid-template-columns var(--transition-duration);
    transition-delay: var(--transition-duration);
    overflow-x: auto;
    height: 300px;
    padding: 60px 100px 30px;
    margin-left: -100px;
    margin-right: -100px;
}

.card {
    max-height: 180px;
    max-width: 160px;
    background-color: #160F09;
    object-fit: cover;
    box-shadow: 0.25rem 0.25rem 0.5rem hsl(0 0% 0% / 0.2);
    border: 3px solid white;

    transition: scale var(--transition-duration);
}

.card:hover,
.card:focus {
    scale: 1.4;
    z-index: 3;
}

.list:hover,
.list:focus-within {
    --column-size: calc(var(--width) * 1.5);
    transition-delay: 0ms;
}

@supports selector(:has( + *)) {
    .card:hover + .card,
    .card:has( + .card:hover) {
        scale: 1.2;
        z-index: 2;
    }
}

.selected {
    border: 5px solid yellow;
}

@keyframes zIndexHack {
    0%, 100% {
        z-index: 10;
    }
}

.interaction {
    place-items: center;
}

.digButton {
    margin-top: 40px;
    max-height: 40px;
    grid-column: 1 / -1;
    margin-left: -15px;
}

#closeDig {
    margin-top: -20px;
}