.box {
    max-width: 80%;
    padding: 10%;
}

#list {
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}

p {
    margin: 20px;
}

.todo {
    padding: 0px 7px;
    background-color: lightblue;
    border-radius: 50px;
}

#form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 5%;

    input::placeholder {
        padding-left: 15px;
    }
}

ul {
    list-style: none;
    min-width: 100%;
}

li {
    padding-top: 5px;
}

input {
    flex: 90%;
    width: 90%
}

input:focus::placeholder {
    color: transparent;
}

#done {
    text-decoration: line-through;
}

.form-check-input {
    margin-left: -2.25rem;
}