@import "_variables";

.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

h1 {
    font-size: 20px;
    color: $color1;
}

body {
    padding: 15px 15px;
    text-align: center;
}

.nav {
    width: 100%;
    margin: 1% 0 2%;
}

.nav-item {
    border: 3px solid $color7;
}

.selector {
    padding: 10px;
}

p {
    font-family: $fontfamily-text;
}

.ul-tree {
    max-width:100%;
    white-space: nowrap;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    h4 {
        text-align: center;
    }
    p {
        margin-bottom: 0;
    }
    li {
        display: inline-block;
        margin: 0 5px 0 5px;
    }
}

body {
    background-color: $color1;
}

.current {
    font-size: 45px;
    background-color: $color7;
    margin-bottom: 0;
}

.skills {
    background-color: $color10;
    max-width: 100%;
}

.experience {
    background-color: $color9;
}

.experience-tree {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $color5;
}

.education {
    background-color: $color8;
}

.object {
    display: flex;
    justify-content: center;

    .sub-onject {
        display: block;
    }

    h2 {
        text-align: left;
    }
    .tabbed {
        text-align: left;
        
    }
}